#en_tete {
    background: #FDEBD0;
    position: relative;
    border: solid 10px #FFFFFF;
		font-weight: 300;
		font-size: 0.9vw;
		padding: 1vh;
		margin: 2vh auto;
		margin-top: 0;
	}

#titre {
  position:relative;
  text-align:center;
  font-size: 2.5vw;
}
body {
  align-items: center;
}
